@import "tailwindcss";


@font-face {
  font-family: GingerBrand;
  src: url(./fonts/GingerBrand.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Caveat;
  src: url(./fonts/Caveat-Regular.ttf) format("truetype");
  font-display: swap;
}

@theme {
  --font-GingerBrand: GingerBrand, 'sans-serif';
  --font-Caveat: Caveat, 'sans-serif';
}
