@import "tailwindcss";

@font-face {
    font-family:PoiretOne ;
    src: url(./fonts/PoiretOne-Regular.ttf)
}

@font-face {
    font-family:GingerBrand ;
    src: url(./fonts/GingerBrand.ttf)
}


@font-face {
    font-family:Caveat ;
    src: url(./fonts/Caveat-Regular.ttf)
}


@theme{
    --font-GingerBrand: GingerBrand , 'sans-serif';
    --font-Caveat: Caveat , 'sans-serif';
}
